
/* Test css-rules */

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

.fa-fw {
	width: 2em;
}

.dark-bg {
	background: #707070;
}

.darker-bg {
	background: #505050;
}

.darkest-bg {
	background: #202020;
}


/* Active css-rules */

html {
    position: relative;
    min-height: 100%;
}

body {
	font-family: 'Calibri', sans-serif;
    margin: 0 0 75px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75px;
    width: 100%;
    overflow:hidden;
}

.margin-top {
	margin-top: 40px;
}

.margin-bottom {
    margin-bottom: 40px;
}

.btn-margin-top {
	margin-top: 30px;
}

.alert-margin-top {
    margin-top:10px;
}

.btn-primary {
    color: #fff;
    background-color: #00adef;
    border-color: #00adef;
}

.btn-primary:hover {
  	color: #fff;
    background-color: #0088bc;
    border-color: #0088bc;
}

.btn-success {
    color: #fff;
    background-color: #55c43b;
    border-color: #55c43b;
}

.btn-success:hover {
    color: #fff;
    background-color: #449d2f;
    border-color: #449d2f;
}

.ui-widget {
    font-family: 'Calibri', sans-serif;
}
