
.boxlist {
    list-style-type: none;
    padding: 0;
    min-height: 500px;
}

.userbox {
	background-color: #00adef;
    border-color: #00adef;
    box-shadow: 0px 0px 6px 0px #888888;
    padding: 10px 10px 10px 10px;
    color: #fff;
    margin-bottom: 30px;
}

.userbox:hover {
    background-color: #0088bc;
    border-color: #0088bc;
}

.userbox-in {
    background-color: #55c43b;
    border-color: #55c43b;
    box-shadow: 0px 0px 6px 0px #888888;
    padding: 10px 10px 10px 10px;
    color: #fff;
    margin-bottom: 30px;
}

.userbox-in:hover {
    background-color: #449d2f;
    border-color: #449d2f;
}

.placeholder { 
	background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
	height: 111px; 
	width:100%;
	margin-bottom: 30px;
}

#mainlogin {
    margin-top:15px;
}

#notfound {
    font-size:25px;
}

#usersearch-div {
    float:left;
}

#names {
    font-size:25px;
}
